body {
  margin: 0;
  overflow: hidden;
  background: #b0c3ea;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#resultOverlay {
  position: fixed;
  top: 0 ;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 5vw;
  letter-spacing: 2px;
  z-index: 9999;
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

#resultOverlay.show {
  opacity: 1;
  pointer-events: all;
}
.hidden {
  display: none;
}

button {
  background: #444;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background: #666;
}

canvas {
  display: block;
  width: 100%;
  height: 100vh;
}

